* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

body {
  font-size: system-ui, -apple-systems, BlinkMacSystemFont, "Segoe UI",
    "Helvetica Neue";
  background-color: beige;
  color: rgb(200, 175, 225);
}

.bookList {
  width: 90vw;
  max-width: 1170px;
  margin: 5rem auto;
  display: grid;
  gap: 2rem;
}

@media screen and (min-width: 768px) {
  .bookList {
    grid-template-columns: repeat(4, 1fr);
  }
}

.book-image {
  width: 100%;
  object-fit: cover;
}

.book {
  background: #fff;
  border-radius: 1rem;
  padding: 2rem;
  text-align: center;
  /* for number formatting */
  position: relative;
}
.book h2 {
  margin-top: 1rem;
  font-size: 1rem;
  color: darkblue;
}

.book h4 {
  color: rgb(198, 6, 6);
  font-size: 0.75rem;
  margin-top: 0.5rem;
  letter-spacing: 2px;
}
.number {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 1rem;
  padding: 0.75rem;
  border-top-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
  background: #c35600;
  color: #fff;
}
h1 {
  text-align: center;
  margin-top: 4rem;
  text-transform: capitalize;
}
